body {
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	top: 50vw;
	left: 50vh;
	transform: translate(-50vh, -50vw);
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #525D78;
	vertical-align: middle; 
 	text-align: center;
}

#picture {
	margin: 0 auto;
	width: min-content;
	height: min-content;
}

#pic {
	padding-top: 50px;
	padding-bottom: 25px;
	margin: 0 auto;
	width: 150px;
	height:max-content;
}

#content {
	margin: 10% auto;
	width: max-content;
	height: max-content;	
}

#main {
	margin: 0 auto;
	width: min-content;
	height: min-content;
	background: rgba(30, 30, 30, 0.1);
	padding: 1px 35px 10px 35px;
	border-left: #1DA1F2 solid 3px;
	border-right: #1DA1F2 solid 3px;
}

a {text-decoration: none;}

a:link { color:inherit; }

h3, p {width: max-content}

#color-discord {
	color: #738ADB;
	width: 35px;
	font-size: x-large;
}
#color-github {
	color: #8754ed;
	width: 35px;
	font-size: x-large;
}
#color-twitter {
	color: #1DA1F2;
	font-size: x-large;
}
#color-telegram {
	color: #6cc1e3;
	font-size: x-large;
}
