body {
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	top: 50vw;
	left: 50vh;
	transform: translate(-50vh, -50vw);
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background: black;
}
.button {
	border: none;
	text-align: center;
	font-size: 15px;
	font-weight: 150;
	margin: 0 0  0 10px;
	cursor: pointer;
	width: 20%;
}
#color-discord {
	background: #444;
	color: #738ADB;
	width: 50px;
	opacity: 0.8;
}
#color-github {
	background: #444;
	color: #8754ed;
	width: 50px;
	opacity: 0.8;
}
#color-twitter {
	background: #444;
	color: #1DA1F2;
	width: 50px;
	opacity: 0.8;
}
#color-telegram {
	background: #444;
	color: #6cc1e3;
	width: 50px;
	opacity: 0.8;
}
#footer {
	position: fixed;
   	left: 0;
   	bottom: 0;
	width: 100%;
	justify-content: center;
	background: #444;
	color: #999;
	padding: 5px 0 5px 0;
}
#codeBody {
	border: 5px;
	display: block;
	justify-content: left;
	width: 100%;
	height: max-content;
	margin: left;
	padding-left: 20px;
	background: black;
	color: #149414;
	margin-bottom: 20px;
}
.fab_images {
	font-size: 30px;
	width: 30px;
	height: 30px;
}

@media screen and (max-width: 800px) {
	#bio {
		width: 30vw;
		font-size: 13px;
	}
	#color-discord {
		color: #738ADB;
		background: #444;
		width: 30px;
		opacity: 0.8;
	}
	#color-github {
		color: #8754ed;
		background: #444;
		width: 30px;
		opacity: 0.8;
	}
	#color-twitter {
		color: #1DA1F2;
		background: #444;
		width: 30px;
		opacity: 0.8;
	}
	#color-telegram {
		color: #6cc1e3;
		background: #444;
		width: 30px;
		opacity: 0.8;
	}
	.fab_images {
		font-size: 35px;
		padding: 15px 0 0 0;
		width: 30px;
		height: 60px;
	}
}